@model UserManagementWebApp.Models.User;
@{
	ViewData["Title"] = "Create";
}

<h3 id="createText">Create new User</h3>

<form class="table" id="createUserForm">
	<input type="text" id="createName" name="Name" placeholder="Enter your name" />
	<input type="email" id="createEmail"  name="Email" placeholder="Enter your email" />
	<input type="date" id="createBirthDate" name="BirthDate" placeholder="Enter your birth date" />
	<input type="submit" class="btn btn-primary" value="Submit" />
</form>

<script src="~/js/create.js"></script>
