@{
	ViewData["Title"] = "Search";
}

<h3>Search for user</h3>

<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Email</th>
			<th>Birthdate</th>
			<th>Registration date</th>
		</tr>
	</thead>

	<tbody id="listUserData">
	</tbody>
</table>
