@{
	ViewData["Title"] = "Search";
}

<h3>Search for user</h3>

<form id="searchForm">
	<input type="number" placeholder="Search for the ID of a user"/>
	<button type="submit" class="btn btn-primary" id="searchBtn">Search</button>
</form>

<table class="table" id="listUserTable">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Email</th>
			<th>Birthdate</th>
			<th>Registration date</th>
		</tr>
	</thead>

	<tbody id="listUserData">

	</tbody>
</table>
